<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726631260174-nj77a1cubf4k6kfr6sdqd7k89gh20jt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726631260174-nj77a1cubf4k6kfr6sdqd7k89gh20jt5</string>
	<key>API_KEY</key>
	<string>AIzaSyBsKW33P9bZcAjNkVK0FUa_YCB0qJ7tu3I</string>
	<key>GCM_SENDER_ID</key>
	<string>726631260174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gregorius.Memes-Messaging</string>
	<key>PROJECT_ID</key>
	<string>memes-messaging-8</string>
	<key>STORAGE_BUCKET</key>
	<string>memes-messaging-8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726631260174:ios:47aaf8d5a0975d70</string>
	<key>DATABASE_URL</key>
	<string>https://memes-messaging-8.firebaseio.com</string>
</dict>
</plist>